@import url(https://fonts.googleapis.com/css?family=Advent+Pro:300);

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: DroidSerif;
    src: url(../fonts/DroidSerif-Regular-webfont.eot);
    src: url(../fonts/DroidSerif-Regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/DroidSerif-Regular-webfont.woff) format("woff"), url(../fonts/DroidSerif-Regular-webfont.ttf) format("truetype"), url(../fonts/DroidSerif-Regular-webfont.svg#DroidSerif-400-normal) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: DroidSerif;
    src: url(../../fonts/DroidSerif-Bold-webfont.eot);
    src: url(../../fonts/DroidSerif-Bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/DroidSerif-Bold-webfont.woff) format("woff"), url(../fonts/DroidSerif-Bold-webfont.ttf) format("truetype"), url(../fonts/DroidSerif-Bold-webfont.svg#DroidSerif-700-normal) format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: DroidSerif;
    src: url(../fonts/DroidSerif-Italic-webfont.eot);
    src: url(../fonts/DroidSerif-Italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/DroidSerif-Italic-webfont.woff) format("woff"), url(../fonts/DroidSerif-Italic-webfont.ttf) format("truetype"), url(../fonts/DroidSerif-Italic-webfont.svg#DroidSerif-400-italic) format("svg");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: DroidSerif;
    src: url(../fonts/DroidSerif-BoldItalic-webfont.eot);
    src: url(../fonts/DroidSerif-BoldItalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/DroidSerif-BoldItalic-webfont.woff) format("woff"), url(../fonts/DroidSerif-BoldItalic-webfont.ttf) format("truetype"), url(../fonts/DroidSerif-BoldItalic-webfont.svg#DroidSerif-700-italic) format("svg");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "SC Sans Web";
    src: url("../fonts/SC Sans Web-Ultra Thin.eot");
    src: url("../fonts/SC Sans Web-Ultra Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SC Sans Web-Ultra Thin.woff") format("woff"), url("../fonts/SC Sans Web-Ultra Thin.ttf") format("truetype"), url("../fonts/SC Sans Web-Ultra Thin.svg#SC Sans Web-100-normal") format("svg");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "SC Sans Web";
    src: url("../fonts/SC Sans Web-Thin.eot");
    src: url("../fonts/SC Sans Web-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SC Sans Web-Thin.woff") format("woff"), url("../fonts/SC Sans Web-Thin.ttf") format("truetype"), url("../fonts/SC Sans Web-Thin.svg#SC Sans Web-200-normal") format("svg");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "SC Sans Web";
    src: url("../fonts/SC Sans Web-Light.eot");
    src: url("../fonts/SC Sans Web-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SC Sans Web-Light.woff") format("woff"), url("../fonts/SC Sans Web-Light.ttf") format("truetype"), url("../fonts/SC Sans Web-Light.svg#SC Sans Web-300-normal") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "SC Sans Web";
    src: url("../fonts/SC Sans Web-Regular.eot");
    src: url("../fonts/SC Sans Web-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SC Sans Web-Regular.woff") format("woff"), url("../fonts/SC Sans Web-Regular.ttf") format("truetype"), url("../fonts/SC Sans Web-Regular.svg#SC Sans Web-400-normal") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SC Sans Web";
    src: url("../fonts/SC Sans Web-Bold.eot");
    src: url("../fonts/SC Sans Web-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SC Sans Web-Bold.woff") format("woff"), url("../fonts/SC Sans Web-Bold.ttf") format("truetype"), url("../fonts/SC Sans Web-Bold.svg#SC Sans Web-700-normal") format("svg");
    font-weight: 700;
    font-style: normal;
}
html,body {
  height: 100%;
  margin:0;padding:0;
  background: #C8893D;
  color: rgba(132, 206, 66, 1);
}
body {
  /*font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;*/
  font-family: 'Advent Pro', Verdana, sans-serif;
  overflow-x: hidden;
}

.show.time_slide {
  height: 53px;
  -webkit-transition: height .4s ease-in-out,bottom .4s ease-in-out;
  -moz-transition: height .4s ease-in-out,bottom .4s ease-in-out;
  transition: height .4s ease-in-out,bottom .4s ease-in-out;
  -ms-transition: height .4s ease-in-out,bottom .4s ease-in-out;
  -o-transition: height .4s ease-in-out,bottom .4s ease-in-out;
}
.time_slide {
  z-index:750;
  position:fixed;
  bottom:0px;
  width:100%;

  /*background: #453E4E;*/
  background-color: rgba(69,62,78,.85);
  -webkit-box-shadow: 0 0 4px 1px #000;
  box-shadow: 0 0 4px 1px #000;

  height:0px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

/* more details button */
.btn_more:hover {
    /*background-position: -2px -79px;*/
    background-color: rgba(200,137,61,.6);
    border: 2px rgba(132, 206, 66, 1) solid;
    background-color: rgba(132, 206, 66, 1);
    /*background-color: rgba(11, 18, 6, .8);*/
}
.btn_more {
    position: relative;
    width: 38px;
    height: 38px;
    left: 50%;
    top: 50%;
    margin-top: -18px;
    margin-left: -18px;
    background-image: url(../img/btn_more.png);
    background-position: center;
    border: 1px rgba(132, 206, 66, 1) solid;
    cursor: pointer;
    background-color: rgba(11, 18, 6, .38);
    -webkit-transition: background-color .3s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
    -moz-transition: background-color .3s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
    transition: background-color .3s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
    -ms-transition: background-color .3s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
    -o-transition: background-color .3s ease-in-out,left 1s ease-in-out,opacity .8s ease-in-out;
    z-index: 700;
}

/* timeline slider */
input[type='range'] {
  align-self: center;
  padding: 0 20px;
  height: 4.7em;
  background: linear-gradient(90deg, #d5cebc 1px, transparent 1px) repeat-x 0 2.7em content-box;
  background-size: .59em .9em;
  font-size: .7em;
  cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  margin-left: -0.0625em;
  margin-top: 0.25em;
  border: none;
  border-radius: 50% 50% 0;
  background: #fd625e;
  width: 1.25em;
  height: 1.25em;
  box-shadow: 1.1875em 1.1875em 0 -0.5625em, 1.25em 1.25em 0 -0.5625em, 1.3125em 1.3125em 0 -0.5625em, 1.375em 1.375em 0 -0.5625em, 1.4375em 1.4375em 0 -0.5625em, 1.5em 1.5em 0 -0.5625em, 1.5625em 1.5625em 0 -0.5625em, 1.625em 1.625em 0 -0.5625em, 1.6875em 1.6875em 0 -0.5625em, 1.75em 1.75em 0 -0.5625em, 1.8125em 1.8125em 0 -0.5625em, 1.875em 1.875em 0 -0.5625em, 1.9375em 1.9375em 0 -0.5625em, 2em 2em 0 -0.5625em, 2.0625em 2.0625em 0 -0.5625em, 2.125em 2.125em 0 -0.5625em, 2.1875em 2.1875em 0 -0.5625em, 2.25em 2.25em 0 -0.5625em, 2.3125em 2.3125em 0 -0.5625em, 2.375em 2.375em 0 -0.5625em;
  -ms-transform: translate(1px, -1.75888em) rotate(45deg);
  -moz-transform: translate(1px, -1.75888em) rotate(45deg);
  -o-transform: translate(1px, -1.75888em) rotate(45deg);
  -webkit-transform: translate(1px, -1.75888em) rotate(45deg);
  transform: translate(1px, -1.75888em) rotate(45deg);
}
input[type='range']::-webkit-slider-thumb:after,
input[type='range'] /deep/ #thumb:after {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 16.125em;
  transform-origin: 100% 0;
  height: 1.75em;
  box-shadow: inset 0 0.375em currentColor;
  background: linear-gradient(90deg, currentColor 0.125em, transparent 0.125em) repeat-x 0 100%;
  background-size: 0.5em 1em;
  color: #fd625e;
  content: '';
}
input[type='range']:focus {
  outline: none;
}

/* sticky headers */
.followMeBar {
  /*background: #ff0;*/
  background: #C8893D;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}

.followMeBar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 720;
}

.followMeBar.fixed.absolute {
  position: absolute;
}

/* intro */
header {
  width: 100%;
  height: 100%;
  /*color: #e1dbc4;*/
  /*background: rgba(242, 236, 231,.6);*/
  /*background: #2B2728 url(cityscape.png);
  background-position: center bottom;
  background-size: 100%;
  background-repeat: repeat-x;

  background-image: url(intro_bg.jpg);
  background-color: rgba(255,255,255,.5);
  background-blend-mode: luminosity;;
  background-size: cover;*/

  background-image: url(../img/intro_bg.jpg);
  background-color: rgba(140,190,210,0.5);
  background-blend-mode: darken;
  background-size: cover;

  text-align: center;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header h1 {
  color: #FFF;
  font-size: 42px;
  line-height: calc(66vh);
  text-transform: uppercase;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px #888;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sticky-header header h1 {
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}
